input.form-control,
input.form-control:focus{
  background: none;
  border: 1px solid #999;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  color: black;
  box-shadow: none
}

input.form-control{
  opacity:0.6;
}

input.form-control:focus{
  opacity: 1;
  border-bottom-color: #999;
}
